* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  min-height: 100vh;
  background: #333;
  font-family: 'Roboto', 'Open Sans', sans-serif;
}


.container {
  display: flex;
}



/************ SIDEBAR ************/
.sidebar {
  width: 30%;
  height: 100vh;
}


/************ HEADER ************/
.sidebar__header {
  position: fixed;
  width: 30%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 999;
  padding: 0 3%;
}

.sidebar__header__search {
  border: 0;
  background: 0;
  border-bottom: 1px solid #000;
  padding-bottom: 5px;
}


/************ SIDEBAR MAIN ************/
.sidebar__main {
  position: absolute;
  left: 0;
  width: 30%;
  height: 100%;
  overflow: hidden;
}

.sidebar__main__wrapper {
  display: flex;
  position: relative;
  width: 200%;
  height: 100%;
  transform: translateX(-50%);
}

.sidebar__main__wrapper__left {
  background: #b53931;
  width: 100%;
  height: 100%;
}


.sidebar__main__wrapper__right {
  background: #efbd4a;
  width: 100%;
  height: 100%;
}



/************ SIDEBAR SQUARES ************/
.sidebar__square {
  position: absolute;
  left: 0;
  bottom: 200px;
  width: 85px;
  height: 85px;
  overflow: hidden;
}

.sidebar__square__wrapper {
  display: flex;
  position: relative;
  width: 200%;
  height: 100%;
  transform: translate(-50%);
}

.sidebar__square__wrapper__left {
  background: #efbd4a;
  width: 100%;
  height: 100%;
}

.sidebar__square__wrapper__right {
  background: #fff;
  width: 100%;
  height: 100%;
}



/************ SIDEBAR FOOTERS ************/
.sidebar__footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 30%;
  height: 200px;
  overflow: hidden;
}

.sidebar__footer__wrapper {
  display: flex;
  position: relative;
  width: 200%;
  height: 100%;
}

.sidebar__footer__wrapper__left {
  background: #b53931;
  width: 100%;
  height: 100%;
}

.sidebar__footer__wrapper__right {
  background: #fff;
  width: 100%;
  height: 100%;
}








/************ MAIN ************/
.main {
  position: relative;
  width: 70%;
  height: 100vh;
  background: green;
  overflow: hidden;
}



/************ MAIN MENU ************/
.main__menu {
  width: 100%;
  height: 70px;
  right: 0;
  background: #fff;
  z-index: 999;
}

.main__menu__nav {
  width: 100%;
  height: 100%;
  list-style: none;
  display: flex;
  align-items: center;
}

.main__menu__nav li {
  margin-left: 8%;
}

.main__menu__nav a {
  cursor: pointer;
  text-decoration: none;
  color: #000;
  font-weight: 600;
}


/************ MAIN WRAPPER ************/
.main__bg__wrapper {
  position: relative;
  display: flex;
  width: 200%;
  height: auto;
  min-height: 100%;
  transform: translateX(-50%);
}

.main__bg__wrapper img {
  width: 50%;
}